:root {
    --blue: #0078ac;
    --light-green: #c1d62e;
    --red: #dd2e22;
    --light-grey:#bbbbbb;
    --grey:#191919;
    --dark-grey:#000000;
    --very-light-grey:#efefef;
    /* --dark-grey:rgb(65, 65, 65); */
    --bg-color: rgb(255, 255, 255);
}
body {
    background-color: var(--blue);
}


/* ============Form Start ============== */
form {
    border: 1px solid var(--blue);
    padding: 30px;
    /* border-radius: 10px; */
    position: relative;
    max-width: 576px;
    background-color: var(--bg-color);
}

.form-check {
    transition: 0.2s cubic-bezier(0.82, 0.25, 0.38, 1.1);
}

form img.logo {
    display: block;
    max-width: 200px;
    width: 100%;
}

form button.submit-btn {
    padding: 10px 20px;
    background-color: var(--blue);
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
}

form button.submit-btn:hover{
    padding: 10px 20px;
    background-color: var(--blue);
    border-radius: 5px;
}

form p {
    color: var(--dark-grey);
}

form p.short-msg {
    margin-top: -15px;
    font-size: 12px;
    font-weight: bold;
}
.gray {
    color: var(--grey);
}
/* ============Form End ============== */

@media screen and (min-width: 576px) {
    form {
        border-radius: 10px;
    }
}